@using System.Web.UI.WebControls
@using Hospital_Management_System.Models
@{
    ViewBag.Title = "Home Page";
}

<header id="Home">
    <nav>
        <div class="row">
            <img src="~/Content/Layout/resources/img/logo-white.png" alt="HMS logo" class="logo">
            <img src="~/Content/Layout/resources/img/logo.png" alt="HMS logo" class="logo-black">
            <ul class="main-nav js-main-nav">
                <li><a href="#Home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="@Url.Action("Register", "Account")">Register</a></li>
                <li><a href="@Url.Action("Login", "Account")">Sign In</a></li>
            </ul>
            <a class="mobile-nav-icon js-mobile-nav-icon"><i class="ion-ios-menu"></i></a>
        </div>
    </nav>
    <div class="hero-text-box">
        <h1>Hospital Management<br> System.</h1>
    </div>
</header>


<section class="section-steps" id="about">
    <div class="row">
        <h2>About Us &mdash;</h2>
    </div>
    <div class="row">
        <div>
            <div class="works-step">
                <div>1</div>
                <p>The Hospital Management System (HMS) is dedicated to providing comprehensive healthcare services accessible to everyone, every day, integrating traditional practices with the latest in medical advancements.</p>
            </div>
            <div class="works-step">
                <div>2</div>
                <p>Utilizing our extensive academic and practical knowledge, we address a broad spectrum of health conditions, emphasizing a personalized approach and the application of cutting-edge research.</p>
            </div>
            <div class="works-step">
                <div>3</div>
                <p>Our commitment is to lead healthcare innovation and excellence for future generations, striving to be the preferred choice for patients worldwide.</p>
            </div>
        </div>
    </div>
</section>



<section class="section-testimonials" id="reviews">
    <div class="row">
        <h2>    Feedbacks   : </h2>
    </div>
    <div class="row">
        <div class="col span-1-of-3">
            <blockquote>HMS est tout simplement génial ! Je viens de lancer une startup, ce qui ne me laisse aucun temps pour la médecine, donc HMS est une bouée de sauvetage. Maintenant que je m'y suis habitué</blockquote>
            <cite><img src="~/Content/Layout/resources/img/ala.jpg" alt="premier-client">ala eddine achach  </cite>
        </div>
        <div class="col span-1-of-3">
            <blockquote>
                En tant que famille, nous avons toujours eu le meilleur traitement possible à
                l'Hôpital Good Hope et ne pourrions en aucun cas critiquer. Les urgences, les services, les médecins, les infirmières et les aides font tous un travail fabuleux. Bravo à vous tous et vous méritez tous une médaille.
            </blockquote>
            <cite><img src="~/Content/Layout/resources/img/aymen.jpg" alt="deuxième-client">aymen koched</cite>
        </div>
        <div class="col span-1-of-3">
            <blockquote>
                Bien traité, avec respect et tout a été clairement expliqué tout au long des procédures.
                On m'a expliqué ce qui se passait tout au long et traité avec compassion et gaieté.
            </blockquote>
            <cite><img src="~/Content/Layout/resources/img/habib.jpg" alt="troisième-client">med habib triki</cite>
        </div>
    </div>
</section>

<footer>
        <div class="col span-1-of-2">
            <ul class="social-links">
                <li><a href="#"><i class="ion-logo-facebook"></i></a></li>
                <li><a href="#"><i class="ion-logo-twitter"></i></a></li>
                <li><a href="#"><i class="ion-logo-googleplus"></i></a></li>
                <li><a href="#"><i class="ion-logo-instagram"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <p> Copyright &copy; @DateTime.Now.Year by GL3-2. All rights reserved.</p>
    </div>
</footer>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}